.todoes-card__container {
  display: flex;
  border-radius: 6px;
  padding: 10px 20px;
  width: 80%;
  justify-content: center;
  align-items: center; 
  background-color: #25273c;
  margin: 0 auto; 
  margin-top: 10px;
}


.todoes-card__contain {
  display: flex;
  align-items: center; 
  flex-grow: 1;
}

.rounded__button {
  width: 24px; 
  height: 24px; 
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid  hsl(234, 11%, 52%);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.rounded__button-checked{
  width: 24px; 
  height: 24px; 
  border-radius: 50%;
  border: 2px solid  hsl(234, 11%, 52%);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #71bdf4, #6cb0f9, #76a0fb, #8b8ef6, #a578ea);
}

.todo__input {
  font-size: 18px;
  background-color: #25273c;
  outline: none; 
  border: 1px solid #25273c;
  color: hsl(234, 11%, 52%);
}

.todo__input:focus {
  border: none;
}

.delete__todo{
  outline: none;
  border: none;
  background: #25273c;
}

.todo__checked{
  color: #44475c; 
  text-decoration: line-through;
}


.todo{
  color: white;
  font-weight: 300;
}

